body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;

  background-color: #fcfcfd;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1.875rem;

  border-radius: 1.25rem;
  border: 0.2rem solid #e4eaf1;
  overflow: hidden;
}

.profile {
  padding: 0;
  width: 90%;

  transition: all ease-in-out 0.3s;
}

@media screen and (min-width: 550px) {
  .profile {
    max-width: 60%;
  }
}

@media screen and (min-width: 700px) {
  .profile {
    max-width: 24rem;
  }
}

.profile header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 6rem;

  margin-bottom: calc((5.5rem / 2) + 0.75rem);

  background-color: #51cbff;
}

.profile__picture img {
  position: absolute;

  top: calc(6rem - (5.5rem / 2));
  left: 50%;
  transform: translateX(-50%);

  width: 5.5rem;
  aspect-ratio: 1;

  border-radius: 50%;
  z-index: 1;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 0.75rem;
}

.level {
  position: absolute;
  right: -2.4rem;
  top: 50%;

  transform: translateY(-50%);
}

.level img {
  width: 2rem;
  aspect-ratio: 1;
}

.traits {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 0 0.8rem;
}

.traits li {
  padding: 0.25rem 0.5rem;
  border-radius: 1.25rem;
  background-color: #e4eaf1;
  text-transform: uppercase;
  font-weight: 500;
  color: #7f9cbd;
}

.profile .content {
  margin-top: 1rem;
  border-top: 0.2rem solid #e4eaf1;

  display: grid;
  gap: 0.2rem;

  grid-column: 1 / 3;
  grid-row: 1 / 2;

  background-color: #e4eaf1;
}

.content .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  background-color: #fcfcfd;
}

@media screen and (min-width: 380px) {
  .profile .content {
    margin-top: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .content .about {
    padding: 1.875rem;
  }
}

.about span {
  color: #899cb3;
  font-weight: 300;
  font-size: 0.875rem;
}

.about p {
  font-weight: 600;
  color: #2c2c33;
  font-size: 1rem;

  margin-top: 0.4rem;
}

.about span,
.about p {
  text-align: center;
}
